# Dependencies
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*

# Build outputs
dist
build

# Vercel-specific files
.vercel/cache

# Tailwind CSS cache
*.css.map
*.tmp

# IDE-specific files
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db